.field {
  margin: 1rem 0 0.5rem;
}
.field label {
  color: #ffffff;
}
.field label input,
.field button {
  margin: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
}
.field .help {
  font-size: smaller;
  font-style: italic;
  margin: 0 0.3rem;
  color: #333;
}

.commands .field {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 5rem auto 4rem;
}
.commands .field .minus {
  padding-top: 1.2rem;
}
.commands .field .minus button,
.button-row .command-append {
  width: 4rem;
  height: 2rem;
}
