body {
  margin: 0;
  padding: 0;
  font-family: Cantarell, Helvetica, Verdana, sans-serif;
}


h2 {
  margin: 0;
  padding: 1rem 0 2rem;
}
h3:first-child {
  margin: 0;
  padding: 0 0 1rem;
}

.main,
.configuration {
  padding: 0 1rem;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.main {
  background-color: #333333;
  color: #ffffff;
}
.configuration {
  background-color: #22a7f0;
  color: #000000;
}
.main::-webkit-scrollbar,
.configuration::-webkit-scrollbar {
  display: none;
}
