.main .hud {
  min-height: 3rem;
  text-align: center;
  padding: 2rem 0;
}
.main button {
  padding: 1.5rem;
  width: 100%;
  border-radius: 0.2rem;
}
.main button.listen {
  background-color: #7bc74d;
  border: 0;
  color: #ffffff;
}
.main button.stop {
  background-color: #dc3545;
  color: #ffffff;
  border: 0;
}

.interface {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  margin-right: 1rem;  /* Filthy Hack */
}
