/* https://codepen.io/StrengthandFreedom/pen/BaaQYqw */

.rotate {
  animation: rotation 50s;
}
.linear {
  animation-timing-function: linear;
}
.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  opacity: 0.2;
}
