/* https://codepen.io/zouhir/pen/jzZygZ */

.swipe-view {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-coordinate: 0 0;
  scroll-snap-points-x: repeat(100%);
  scroll-snap-type: x mandatory;
  flex: 1;
  display: flex;
  -webkit-overflow-scrolling: touch;
}
.swipe-view section {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  scroll-snap-align: start;
}


/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

.swipe-view {
  scrollbar-width: none;
}
.swipe-view::-webkit-scrollbar {
  display: none;
}
